tooltip {
	background-color: #F9F9FB;
	border: 1px solid #67676C;
	border-radius: 4px;
	color: #000000;
}
.titlebar-button {
	padding-left: 11px !important;
	padding-right: 11px !important;
	background-color: transparent !important;
	border-radius: 0px !important;
}
.titlebar-button * {
	color: transparent; /* hide stupid circle thing */
}
.titlebar-close:hover {
	background-color: #1DEEDC !important;
	filter: invert(1) !important;
}
.titlebar-close:active {
	background-color: #0E9085 !important;
	filter: invert(1) !important;
}
.titlebar-min:hover,
.titlebar-max:hover {
	background-color: #C6C6C9 !important;
}
.titlebar-min:active,
.titlebar-max:active {
	background-color: #A9A9AD !important;
}